<div class="row">
  <div class="col">
    <label for="">שם:</label>
    <input type="text" (change)="setEnabled()" [(ngModel)]="K.name">
  </div>
  <div class="col">
    <label for="">נושא:</label>
    <select [(ngModel)]="K.subject">
      <option *ngFor="let c of subjectCode; let i = index" [value]="c" [label]="subjectDiscription[i]"></option>
    </select>
  </div>
  <div class="col">
    <label for="">תאור:</label>
    <input *ngIf="K.name" type="text" [(ngModel)]="K.description">
  </div>
  <div class="col">
    <label for="">משקל:</label>
    <input type="range" min="1" max="5" [(ngModel)]="K.weight">
  </div>
</div>

<button [disabled]="!enabledSave">שמירה</button>