<form [formGroup]="frmKabala">
  <div class="row" *ngIf="Kabala">
    <div class="col">
      <label for="">שם:</label>
      <input
        type="text"
        formControlName="name"
        [ngClass]="{ 'error-class': frmKabala.controls['name'].invalid }"
      />
      <div *ngIf="frmKabala.controls['name'].invalid">שדה זה הוא שדה חובה</div>
    </div>

    <div class="col">
      <label for="">נושא:</label>
      <select formControlName="subject">
        <option
          *ngFor="let c of subjectCode; let i = index"
          [value]="c"
          [label]="subjectDiscription[i]"
        ></option>
      </select>
    </div>

    <div class="col">
      <label for="">תאור:</label>
      <input *ngIf="frmKabala.get('name')?.value" type="text" formControlName="description" />
    </div>
    <div class="col">
      <span *ngIf="frmKabala.get('name')?.value">{{ frmKabala.get('description')?.value }}</span>
    </div>

    <div class="col">
      <label for="">משקל:</label>
      <input type="range" min="1" max="5" formControlName="weight" />
    </div>
  </div>

  <button [disabled]="!frmKabala.valid" (click)="save()">שמירה</button>
</form>
