<form #frmKabala="ngForm">
  <div class="row" *ngIf="Kabala">
    <div class="col">
      <label for="">שם:</label>
      <input type="text" name="kabalaName" #name="ngModel" required (change)="setEnabled()" [(ngModel)]="Kabala.name" />
      <div *ngIf="name.invalid">שדה זה אינו תקין</div>
    </div>
    
    <div class="col">
      <label for="">נושא:</label>
      <select name="kabalaSubject" [(ngModel)]="Kabala.subject">
        <option
          *ngFor="let c of subjectCode; let i = index"
          [value]="c"
          [label]="subjectDiscription[i]"
        ></option>
      </select>
    </div>
    
    <div class="col">
      <label for="">תאור:</label>
      <input *ngIf="Kabala.name" type="text" name="kabalaDescription" [(ngModel)]="Kabala.description" />
    </div>
    
    <div class="col">
      <label for="">משקל:</label>
      <input type="range" name="kabalaWeight" min="1" max="5" [(ngModel)]="Kabala.weight" />
    </div>
  </div>

  <button [disabled]="!frmKabala.valid" (click)="save()">שמירה</button>
</form>