<table>
    <thead>
        <tr>
            <th>שם</th>
            <th>תאור</th>
            <th>נושא</th>
            <th>משקל</th>
        </tr>
    </thead>
    <tbody>
        <tr [ngClass]="{'selected':selectedIndex == i}" (click)="selectedIndex = i" *ngFor="let k of kabalaList; let i = index">
            <td>{{i + 1}}.</td>
            <td>{{k.name}}</td>
            <td>{{k.description}}</td>
            <td>{{k.subject}}</td>
            <td>{{k.weight}}</td>
        </tr>
    </tbody>
</table>

<button (click)="addNew()">הוספת חדש✨</button>
<app-kabalos (addKabala)="savaNewKabala($event)" [(Kabala)]="selectedKabala"></app-kabalos>